:root {
  --color-brand: #e01d3f;
}
.App {
  font-family: monospace, "Times New Roman", serif;
}
.App-header {
  display: flex;
  align-items: center;
  color: var(--color-brand);
  font-size: 20px;
  border-bottom: 3px solid var(--color-brand);
}

.App-header img {
  width: 200px;
}

.App-body {
  margin: 50px;
  font-weight: 100%;
  margin-top: 10px;
}

.App-body #btn-ok {
  margin-left: 20px;
}

li {
  color: #e01d3f;
}
li[data-priority="default"] {
  color: blue;
}

.App-footer {
  border-top: 3px solid var(--color-brand);
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  font-style: italic;
}
